@model IEnumerable<PizzaButikenOnline.Models.Ingredient>
@{
    ViewData["Title"] = "Index";
}
<h2>Ingredienser</h2>
<p>
    <a asp-action="Create">Skapa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
