@model IEnumerable<PizzaButikenOnline.Models.Dish>

@{
    ViewData["Title"] = "Index";
}
<h2>Meny</h2>

@foreach (var group in Model.GroupBy(d => d.Category.Name))
{
    <h3>@group.Key</h3>

    foreach (var dish in group)
    {
        <row>
            <div class="col-sm-8">@dish.Name</div>
            <div class="col-sm-4">@dish.Price</div>
        </row>
        <row>
            <div class="col-sm-12">
                @if (dish.IngredientDish != null)
                {
                    <p>
                        @foreach (var ingredient in dish.IngredientDish)
                        {
                            @ingredient.Ingredient.Name <span> </span>
                        }
                    </p>
                }
            </div>
        </row>
    }
}