@model IEnumerable<PizzaButikenOnline.Models.Dish>

@{
    ViewData["Title"] = "Index";
}
<h2>Meny</h2>

@foreach (var group in Model.GroupBy(d => d.Category.Name))
{
    <h3>@group.Key</h3>

    if (group.Count() > 0)
    {

        @foreach (var d in group)
        {
            @Html.Partial("DishSummary", d)
        }
    }
}